<head>
    <title>Catalogo</title>
</head>

<body>
    <!-- Vinos recomendados -->
    <section id="vinos">
        <div class="container-fluid p-5 text-center text-justify bg-light" id="vinos-contenedor">
            <h1 class="p-3 mb-5" id="vinos-tintos">VINOS TINTOS</h1>
             <!-- Vinos tintos -->
            <div class="row">
                <div class="product p-3 col-12 col-md-6 col-lg-4 d-flex flex-column align-items-center justify-content-center">
                    <img class="img-fluid mb-2" src="/images/catena-z-malbec.png" alt="">
                        <h2 class="my-3">Catena Zapata Malbec 2018</h2>
                        <p class="description text-justify lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam distinctio laudantium repellat magnam natus debitis officia sequi atque sit voluptate reprehenderit, eos id quod quo, dolorem, ducimus aut rem!</p>

                </div>
                <div class="product p-3 col-12 col-md-6 col-lg-4 d-flex flex-column align-items-center justify-content-center">
                    <img class="img-fluid mb-2" src="/images/trapiche-malbec.png"  alt="">
                    <h2 class="my-3">Trapiche Terroir 2017</h2>
                    <p class="description text-justify lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam distinctio laudantium repellat magnam natus debitis officia sequi atque sit voluptate reprehenderit, eos id quod quo, dolorem, ducimus aut rem!</p>
                </div>
                <div class="product p-3 col-12 col-md-6 col-lg-4 d-flex flex-column align-items-center justify-content-center">
                    <img class="img-fluid mb-2" src="/images/cadus-malbec.png" alt="vino catena zapata malbec">
                    <h2 class="my-3">Cadus Finca Viña Vida</h2>
                    <p class="description text-justify lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam distinctio laudantium repellat magnam natus debitis officia sequi atque sit voluptate reprehenderit, eos id quod quo, dolorem, ducimus aut rem!</p>
                </div>                        
                <div class="product col-12 col-md-6 col-lg-4 d-flex flex-column align-items-center justify-content-center">
                    <img class="img-fluid mb-2" src="/images/DON-MALBEC.png" alt="">
                    <h2 class="my-3">Don Malbec</h2>
                    <p class="description text-justify lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam distinctio laudantium repellat magnam natus debitis officia sequi atque sit voluptate reprehenderit, eos id quod quo, dolorem, ducimus aut rem!</p>
                
                </div>
                <div class="product col-12 col-md-6 col-lg-4 d-flex flex-column align-items-center justify-content-center">
                    <img class="img-fluid mb-2" src="/images/varua-tinto.png"  alt="">
                    <h2 class="my-3">Varua Malbec 2017</h2>
                    <p class="description text-justify lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam distinctio laudantium repellat magnam natus debitis officia sequi atque sit voluptate reprehenderit, eos id quod quo, dolorem, ducimus aut rem!</p>
                </div>
<div class="product col-12 col-xs-6 col-md-4 d-flex flex-column align-items-center justify-content-center">
                    <img class="img-fluid mb-2" src="/images/catena-zapata-malbec-argentino.png" alt="vino catena zapata malbec">
                    <h2 class="my-3">Catena Zapata Malbec</h2>
                    <p class="description text-justify lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam distinctio laudantium repellat magnam natus debitis officia sequi atque sit voluptate reprehenderit, eos id quod quo, dolorem, ducimus aut rem!</p>
                
                </div>
                <!-- Vinos blancos -->

                <div class="row gx-0" id="vinos-blancos">
                <h1 class="p-3 mb-5">VINOS BLANCOS</h1>
                <div class="product col-12 col-xs-6 col-md-4 d-flex flex-column align-items-center justify-content-center">
                    <img class="img-fluid mb-2" src="/images/rutini-blanco.png" alt="vino catena zapata malbec">
                    <h2 class="my-3">Rutini Sauvignon Blanc</h2>
                    <p class="description text-justify lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam distinctio laudantium repellat magnam natus debitis officia sequi atque sit voluptate reprehenderit, eos id quod quo, dolorem, ducimus aut rem!</p>
                
                </div>
                <div class="product col-12 col-xs-6 col-md-4 d-flex flex-column align-items-center justify-content-center">
                    <img class="img-fluid mb-2" src="/images/trapiche-blanco.png" alt="">
                    <h2 class="my-3">Trapiche Gran Medalla</h2>
                    <p class="description text-justify lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam distinctio laudantium repellat magnam natus debitis officia sequi atque sit voluptate reprehenderit, eos id quod quo, dolorem, ducimus aut rem!</p>
                
                </div>
                <div class="product col-12 col-xs-6 col-md-4 d-flex flex-column align-items-center justify-content-center">
                    <img class="img-fluid mb-2" src="/images/autoctono-blanco.png"  alt="">
                        <h2 class="my-3">Autoctono Chardonnay</h2>
                    <p class="description text-justify lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam distinctio laudantium repellat magnam natus debitis officia sequi atque sit voluptate reprehenderit, eos id quod quo, dolorem, ducimus aut rem!</p>
                
                </div>
                <div class="product col-12 col-xs-6 col-md-4 d-flex flex-column align-items-center justify-content-center">
                    <img class="img-fluid mb-2" src="/images/bosca-blanco.png" alt="vino catena zapata malbec">
                    <h2 class="my-3">Luigi Bosca White Blend</h2>
                    <p class="description text-justify lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam distinctio laudantium repellat magnam natus debitis officia sequi atque sit voluptate reprehenderit, eos id quod quo, dolorem, ducimus aut rem!</p>
                
                </div>
                <div class="product col-12 col-xs-6 col-md-4 d-flex flex-column align-items-center justify-content-center">
                    <img class="img-fluid mb-2" src="/images/alamos-blanco.png" alt="">
                    <h2 class="my-3">Alamos Chardonnay</h2>
                    <p class="description text-justify lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam distinctio laudantium repellat magnam natus debitis officia sequi atque sit voluptate reprehenderit, eos id quod quo, dolorem, ducimus aut rem!</p>
                
                </div>
                <div class="product col-12 col-xs-6 col-md-4 d-flex flex-column align-items-center justify-content-center">
                    <img class="img-fluid mb-2" src="/images/pedro-blanco.png"  alt="">
                    <h2 class="my-3">San Pedro Yacochuya</h2>
                    <p class="description text-justify lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam distinctio laudantium repellat magnam natus debitis officia sequi atque sit voluptate reprehenderit, eos id quod quo, dolorem, ducimus aut rem!</p>
                
                </div>

                <!-- Vinos rosados -->

                <div class="row gx-0" id="vinos-rosados">
                    <h1 class="p-3 mb-5">VINOS ROSADOS</h1>
                    <div class="product col-12 col-xs-6 col-md-4 d-flex flex-column align-items-center justify-content-center">
                        <img class="img-fluid mb-2" src="/images/BOSCA-rosado.png" alt="vino catena zapata malbec">
                        <h2 class="my-3">Luigi Bosca Rose is Rose</h2>
                        <p class="description text-justify lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam distinctio laudantium repellat magnam natus debitis officia sequi atque sit voluptate reprehenderit, eos id quod quo, dolorem, ducimus aut rem!</p>
                    
                    </div>
                    <div class="product col-12 col-xs-6 col-md-4 d-flex flex-column align-items-center justify-content-center">
                        <img class="img-fluid mb-2" src="/images/norton-rosado.png" alt="">
                        <h2 class="my-3">Norton Quintaesencia Rose</h2>
                        <p class="description text-justify lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam distinctio laudantium repellat magnam natus debitis officia sequi atque sit voluptate reprehenderit, eos id quod quo, dolorem, ducimus aut rem!</p>
                    
                    </div>
                    <div class="product col-12 col-xs-6 col-md-4 d-flex flex-column align-items-center justify-content-center">
                        <img class="img-fluid mb-2" src="/images/felicien-rosado.png"  alt="">
                        <h2 class="my-3">Saint Felicien Rosado</h2>
                        <p class="description text-justify lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam distinctio laudantium repellat magnam natus debitis officia sequi atque sit voluptate reprehenderit, eos id quod quo, dolorem, ducimus aut rem!</p>
                    
                    </div>
                    </div>
                    <div class="product col-12 col-xs-6 col-md-4 d-flex flex-column align-items-center justify-content-center">
                        <img class="img-fluid mb-2" src="/images/rutini-rosado.png" alt="vino catena zapata malbec">
                            <h2 class="my-3">Rutini Rose</h2>
                        <p class="description text-justify lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam distinctio laudantium repellat magnam natus debitis officia sequi atque sit voluptate reprehenderit, eos id quod quo, dolorem, ducimus aut rem!</p>
                    
                    </div>
                    <div class="product col-12 col-xs-6 col-md-4 d-flex flex-column align-items-center justify-content-center">
                        <img class="img-fluid mb-2" src="/images/susana-rosado.png" alt="">
                        <h2 class="my-3">Susana Balbo Rose</h2>
                        <p class="description text-justify lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam distinctio laudantium repellat magnam natus debitis officia sequi atque sit voluptate reprehenderit, eos id quod quo, dolorem, ducimus aut rem!</p>
                    
                    </div>
                    <div class="product col-12 col-xs-6 col-md-4 d-flex flex-column align-items-center justify-content-center">
                        <img class="img-fluid mb-2" src="/images/garzon-rosado.png"  alt="">
                        <h2 class="my-3">Garzon Estate Pinot Noir</h2>
                        <p class="description text-justify lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam distinctio laudantium repellat magnam natus debitis officia sequi atque sit voluptate reprehenderit, eos id quod quo, dolorem, ducimus aut rem!</p>
                    
                    </div>
            </div>

            </div>
    </section>
</body>